@use "./assets/styles/vars.scss";
@use "./assets/styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  font-size: 18px;
  box-sizing: border-box !important;
  font-family: "Poppins", "Roboto", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  display: grid;
  // place-items: center;
}

a {
  text-decoration: none;
  font-weight: 600;
  @include mixins.hover-transition();
}

a:hover {
  text-decoration: underline;
}

button {
  @include mixins.hover-transition();
  color: white;
  border: 0;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

section {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (min-width: 750px) {
  section{ 
    padding: 1.5rem 5rem 0 5rem;
  }
}




