@use "./assets/styles/vars.scss";
@use "./assets/styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  font-size: 18px;
  box-sizing: border-box !important;
  font-family: "Poppins", "Roboto", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  @include mixins.hover-transition();
}

a:hover {
  text-decoration: underline;
}

button {
  @include mixins.hover-transition();
  color: white;
  border: 0;
}




