@mixin hover-transition {
    transition: 200ms ease-in;
  }

@mixin logo-size {
    // height: 2rem;
    // width: 0.5rem;
}

@mixin button($border-radius, $color) {
    border-radius: $border-radius;
    padding: 1em 2.5em;
    background-color: $color;
}

@mixin card($border-radius, $color) {
    background-color: $color;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}